{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<script src="{% static 'blog/js/script.js' %}"></script>
{% endblock head %}

{% block header %}
{% endblock header %}

{% block body %}
<div class="container mt-5 custom-margin">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="searchOption">Title</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="setSearchOption('Search by Title')">Title</a>
                        <a class="dropdown-item" href="#" onclick="setSearchOption('Search by Category')">Category</a>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter your search term" aria-label="Search term" id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-primary searchbutton" type="button" onclick="performSearch()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-container">
    <div class="index-image">
        <a href="#">
            <img src="{% static 'blog/img/Sample.png' %}" alt="Description of image">
        </a>  
    </div>
    <div class="index-content-wrapper">
        <div class="index-title">
            <a href="#">
                <span>Learn Computer Science</span>
            </a>
        </div>
        <div class="index-content">
            <p>Elle est à l'affiche du film "Les Gardiennes" de Xavier Beauvois, dans lequel elle donne, pour la première fois au cinéma, la réplique à sa mère Natalie Bayn. Ses anecdotes de tournage, sa relation à la mode, son premier court-métrage en tant que réalisatrice... Sincère et spontanée, Laura Smet se confie en toute intimité à Vogue Paris, le 21 novembre dernier. Elle est à l'affiche du film "Les Gardiennes" de Xavier Beauvois, dans lequel elle donne, pour la première fois au cinéma, la réplique à sa mère Natalie Bayn. Elle est à l'affiche du film "Les Gardiennes" de Xavier Beauvois, dans lequel elle donne, pour la première fois au cinéma, la réplique à sa mère Natalie Bayn.</p>
        </div>
        <a href="#" class="index-read-more">Read More</a>
    </div>
</div>
    
{% endblock body %}

{% block footer %}
{% endblock footer %}