/* Apply to the blog page only */
body.blog {
    text-decoration: none !important;
}

/* Custom margin to move the container down */
.custom-margin {
    margin-top: 105px !important;
}

/* Ensure search button has custom styling */
.searchbutton {
    background-color: #3c6382;
    border-color: #3c6382;
}
.searchbutton:hover {
    background-color: #60a3bc;
    border-color: #60a3bc;
}

/* Responsive margin adjustment */
@media screen and (max-width: 768px) {
    .custom-margin {
        margin-top: 25px !important;
    }
}
/* Ensure navbar links are not underlined */
.navbar a {
    text-decoration: none;
}

/* Dropdown menu items should not be underlined */
.dropdown-menu a {
    text-decoration: none;
}
.custom-search-container {
    width: 100%; /* Adjust width as needed */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.custom-search-input {
    height: 45px; /* Adjust height as needed */
}
.custom-search-input:focus {
    border-color: #60a3bc; /* Change border color when input is in focus */
    box-shadow: 0 0 0 0.2rem rgba(96, 163, 188, 0.25); /* Optional: Add a subtle box shadow */
}
#searchOption:hover{
    background-color: #40407a;
    border-color: #aaa69d;
    color: #f7f1e3;
}
.dropdown-item:hover{
    background-color: #5b5b77;
}
.index-container {
    /* Remove absolute positioning */
    position: relative;
    margin: 0 auto; /* Center horizontally */
    top: 100px; /* Reset top */
    left: 0; /* Reset left */
    right: 0; /* Reset right */

    /* Responsive width */
    width: 80%;
    max-width: 1100px;
    padding: 18px;
    color: #1e272e;
    border-radius: 8px;

    /* Flexbox settings */
    display: flex;
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items horizontally */

    /* Add space between elements */
    gap: 20px;

    /* Add media query for larger screens */
    @media (min-width: 768px) {
        flex-direction: row; /* Stack items horizontally for larger screens */
        justify-content: center; /* Center container horizontally */
    }
}
.index-image img {
    width: 200px; /* Set width for square image */
    height: 200px; /* Set height for square image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 8px; /* Optional: Add border radius to the image */
    margin-bottom: 65px;
}

.index-content-wrapper {
    flex: 1; /* Allow the content to take up remaining space */
    display: flex;
    flex-direction: column;
}

.index-title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 38px;
}

.index-content {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;

}
/* Style for the link */
.index-title a {
    color:#3498db; /* Custom color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition for hover */
}
.index-title a:hover {
    color: #227093; /* Custom hover color */
    text-decoration: underline; /* Optionally add underline on hover */
}
.index-title a:visited {
    color: #9b59b6; /* Custom color for visited links */
}
.index-title a:visited:hover{
    color: #6a3c7c;
}
.index-read-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #fa6e6e;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    align-self: flex-end; /* Move read more button to the right */
}

.index-read-more:hover {
    background-color: #f5f5f5;
}

@media (max-width: 600px) {
    .index-container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align items */
    }

    .index-title {
        font-size: 1.5em;
    }

    .index-content {
        font-size: 0.9em;
    }

    .index-read-more {
        align-self: center; /* Center the read more button */
    }

    .index-image img {
        width: 100%; /* Make image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}