nav.navdark {
  position: absolute;
  top: 0%;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%; /* Occupy the full width of the parent container */
  max-width: 100%; /* Limit the maximum width to the parent container width */
  margin: 0;
  background-color: #7a4343;
  overflow-x: hidden; /* Prevent horizontal overflow */
  height: 80px;
  overflow: hidden;
  
}
.dark-mode {
    background-color: #333333 !important; /* Dark mode background color */

  }
  .containerse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dark-mode .mobileIcons a {
  background-color: #7a4343 !important; /* Apply dark mode background color to .mobileIcons a */
}