
  .mobile-container{
    display: none;
  }
@media only screen and (max-width: 768px) {
  /* Navbar styles for smaller screens */
  .homeicon, .nav .menu li a, .navitem, .nav [type="checkbox"] + label {
    display: none;
  }
  .settingsicon, .githubicon, .playicon {
    display: none !important;
  }
  .nav {
    position: absolute;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .mobile-container {
    display: block;
    max-width: 768px;
    overflow: hidden;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
    margin: 0; /* Ensure no margin around the topnav */
    padding: 0; /* Ensure no padding around the topnav */
    top: 0; /* Position at the top */
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #1e272e;
    padding: 27px 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: transform 0.3s ease;
    font-family: 'Sofia';
  }
  .topnav a:hover{
    transform: scale(1.1);

  }
  .topnav a.icon {
    display: block;
    position: absolute;
    left: 0; 
    top: 0;
  }
  
.topnav .hamburger-icon {
  font-size: 25px; /* Adjust this value to make the hamburger icon bigger */
  transition: transform 0.3s ease;
  color: #f7f1e3;
  background-color: none;
}
.hamburger-icon:hover{
  transform: scale(1.15);
  color: #1e272e;
}
  .topnav a:hover {
    color: black;
    
  }
  
  .active {
    height: 80px;
  }
.mobileIcons a {
  background-color: #b33939;
}
}